<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/FooterLayout :: head">
<meta charset="utf-8">
</head>
<body>
	<header th:replace="Layout/ProfesorMenuLayout :: header"> </header>


	<main id="main">
		<section class="inner-page">
			<!-- ----------------------------ZONA SEGURA------------------------- -->
			<div th:replace="Layout/ProfesorClaseMenuLayout :: submenu"></div>
			<div class="container">
				<div class="row informaciongeneral portfolio-container"
					data-aos="fade-up" data-aos-delay="200">
					<div class="col-lg-12 portfolio-item filter-informaciongeneral">
						<div class="box featured" data-aos="fade-up" data-aos-delay="100">
							<h2>Todos mis Exámenes:</h2>
							<div class="container" data-aos="fade-up">
								<ul class="d-flex flex-wrap" th:if="${hasExams}"
									style="display: flex;">
									<li class="col-xl-4 col-md-6 d-flex align-items-stretch"
										data-aos="zoom-in" data-aos-delay="100"
										th:each="exam : ${exams}" style="list-style: none;">
										<div>
											<div class="icon-box">
												<div class="icon">
													<i class="bx bx-file"></i>
												</div>
												<h5>
													<a
														th:href="@{'/profesor/cursos/examenes/viewentregas?id=' + ${exam.id}}"
														th:text="${exam.descripcion}"> </a>
												</h5>
												<p>
													<b> Fecha: <span th:text="${exam.fechaExamen}"></span></b>
													<br> <b> Hora de Inicio: <span
														th:text="${exam.hora}"></span>
													</b><br>Recuerde tomar las precausiones antes de rendir su
													evaluación
												</p>

												<div class="col-lg-12 text-center">
													<a
														th:href="@{'/profesor/cursos/examenes/viewentregas?id=' + ${exam.id}}"
														class="comunicados-btn scrollto"> <svg width="1em"
															height="1em" viewBox="0 0 16 16"
															class="bi bi-file-earmark-check-fill" fill="currentColor"
															xmlns="http://www.w3.org/2000/svg">
                                                    <path
																fill-rule="evenodd"
																d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zm1.354 4.354a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                                  </svg> Calificar
													</a>
												</div>
												<p>--------------</p>
												<div class="col-lg-12 text-center">
													<a
														href="https://docs.google.com/forms/d/1y4y2Z0HFQ6UO8NFwb4Twr1jPDxLrhgfaJKIWQHRYNPE/edit"
														class="comunicados-btn scrollto"> <svg width="1em"
															height="1em" viewBox="0 0 16 16"
															class="bi bi-file-earmark-check-fill" fill="currentColor"
															xmlns="http://www.w3.org/2000/svg">
                                                    <path
																fill-rule="evenodd"
																d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zm1.354 4.354a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z" />
                                                  </svg> Modificar
													</a>
												</div>
											</div>
										</div>
							</div>
						</div>
						</li>
						</ul>
						<ul>
						</ul>
						<h3 th:unless="${hasExams}">No hay exámenes programados</h3>
						<div class="row">
							<div class="col-lg-12">
								<br>
							</div>
							<div class="col-lg-12">
								<a href="modal" class="comunicados-btn scrollto"
									data-toggle="modal" data-target="#agregarevaluacion"> <svg
										width="1em" height="1em" viewBox="0 0 16 16"
										class="bi bi-file-earmark-arrow-up-fill" fill="currentColor"
										xmlns="http://www.w3.org/2000/svg%22%3E">
                                        <path
											fill-rule="
									evenodd"
											d="M2 2a2 2 0 0 1 2-2h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm7.5 1.5v-2l3 3h-2a1 1 0 0 1-1-1zM6.354 9.854a.5.5 0 0 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 8.707V12.5a.5.5 0 0 1-1 0V8.707L6.354 9.854z" />
								</svg> Agregar evaluación
								</a>
							</div>
						</div>

					</div>

				</div>


			</div>

			<div class="modal fade" id="agregarevaluacion" tabindex="-1"
				role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Ingrese
								Información sobre la evaluación</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<form th:action="@{/profesor/cursos/examenes/save-exam}"
							th:object="${exam}" method="post">
							<div class="modal-body">
								<div class="row-cols-1">

									<h1 th:text="${exam.idClase}"></h1>
									<input type="text" class="form-control" style="display: none;"
										th:field="*{idClase}">


									<div class="form-group">
										<label for="formGroupExampleInput">Link de su
											evaluación (Google Forms, Microsoft, etc): </label> <input
											type="text" class="form-control" id="formGroupExampleInput"
											placeholder="Pegue aquí el Link de su evaluación"
											th:field="*{link}">
									</div>
								</div>
								<div class="row-cols-1">
									<div class="form-group">
										<label for="exampleFormControlSelect1">Seleccione el
											tipo de evaluación:</label> <select class="form-control"
											id="exampleFormControlSelect1" th:field="*{descripcion}">
											<option value="Práctica Calificada">Práctica
												Calificada</option>
											<option value="Exámen Bimestral">Exámen Bimestral</option>
											<option value="Exámen Final">Exámen Final</option>
											<option value="Otros">Otros</option>
										</select>
									</div>
								</div>

								<div class="row-cols-1">
									<div class="form-group">
										<label for="date-input" class="ol-form-label">Date </label> <input
											id="date-input" type="date" class="form-control"
											th:field="*{fechaExamen}">
									</div>
								</div>
								<div class="row-cols-1">
									<div class="form-group">
										<label for="time-input" class="ol-form-label">Time</label> <input
											class="form-control" type="time" th:field="*{hora}"
											id="time-input" />
									</div>
								</div>
								<div class="row-cols-1">
									<div class="form-group">
										<label for="exampleFormControlTextarea1"> Indicaciones
										</label>
										<textarea class="form-control"
											id="exampleFormControlTextarea1" rows="3"></textarea>
									</div>
								</div>
							</div>
							<div class="modal-footer">




								<button type="submit" class="btn btn-save">Agregar
									Evaluacion</button>
							</div>
						</form>

					</div>
				</div>
			</div>

			<!-- ----------------------------ZONA SEGURA------------------------- -->
		</section>
	</main>

	<footer th:replace="Layout/FooterLayout :: footer"></footer>
</body>
</html>