<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/FooterLayout :: head">
<meta charset="utf-8">
</head>
<body>
	<header th:replace="Layout/ProfesorMenuLayout :: header"> </header>


	<main id="main">
		<section class="inner-page">
			<div class="container">
			<br><br>
				<!-- ----------------------------ZONA SEGURA------------------------- -->
				<h1>REPORTES</h1>
				<!-- ----------------------------ZONA SEGURA------------------------- -->
			</div>
		</section>
	</main>

	<footer th:replace="Layout/FooterLayout :: footer"></footer>
</body>
</html>
