<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="Layout/FooterLayout :: head">
	<meta charset="utf-8">
</head>

<body>
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top ">
		<div class="container d-flex align-items-center">

			<h1 class="active mr-auto">
				<a href="index.html">iEduNet</a>
			</h1>
			<!-- Uncomment below if you prefer to use an image logo -->
			<!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

			<nav class="nav-menu d-none d-lg-block">
				<ul>
					<li class="active"><a href="index.html">Inicio</a></li>
					<li><a href="#about">Nosotros</a></li>
					<li><a href="#services">Servicios</a></li>
					<li><a href="#contact">Contáctanos</a></li>

				</ul>
			</nav>
			<!-- .nav-menu -->
			<a th:href="@{/login}" class="get-started-btn scrollto">Soy
				Profesor</a> <a th:href="@{/login}" class="get-started-btn scrollto">Soy
				Alumno</a>

		</div>
	</header>
	<!-- End Header -->

	<!-- ======= Initial Section ======= -->
	<section id="hero" class="d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div
					class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
					data-aos="fade-up" data-aos-delay="200">
					<h1>Mejores experiencias Mejores estudiantes</h1>
					<h2>Somos un Start-Up que busca el crecimiento tecnológico de
						colegios con gran potencial pero pocos recursos.</h2>
					<div class="d-lg-flex">
						<a href="#contact" class="btn-get-started scrollto">Quiero
							Contactar</a>
					</div>
				</div>
				<div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in"
					data-aos-delay="200">
					<img th:src="@{/assets/img/hero-img2.png}"
						class="img-fluid animated" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End Initial -->
	<main id="main">
		<!-- ======= About Us Section ======= -->
		<section id="about" class="about">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Nosotros</h2>
				</div>

				<div class="row content">
					<div class="col-lg-6">
						<p>Somos Alumnos de la carrera de Ingeniería de Sistemas de
							Información de la UPC, actualmente cruzamos el 6to ciclo de la
							carrera universitaria y contamos con amplios conocimientos en
							diferentes temas informáticos. Lo que buscamos con este proyecto
							es poder servir a la comunidad educativa peruana que no cuenta
							con los medios tecnológicos para poder enfrentar esta situación
							tan dura que viene atravesando nuestro país (Covid-19). A través
							del curso de Programación web implementaremos está solución que
							estará disponible en los diversos navegadores de internet.</p>
					</div>
					<div class="col-lg-6">
						<p>Los objetivos específicos con los que contamos son:</p>
						<ul>
							<li><i class="ri-check-double-line"></i> Soluciones óptimas
								para una mejor educación dentro del Perú.</li>
							<li><i class="ri-check-double-line"></i>Pérdidas menores en
								el sector educación.</li>
							<li><i class="ri-check-double-line"></i>Mayores
								oportunidades en zonas pobres dentro del país.</li>
							<li><i class="ri-check-double-line"></i>Visión a futuro y
								enseñanza remota para estudiantes con tiempo limitado</li>
							<li><i class="ri-check-double-line"></i>Sumergir a la
								población peruana en tecnologías y medios digitales</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- End About Us Section -->

		<!-- ======= Services Section ======= -->
		<section id="services" class="services section-bg">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Servicios</h2>
					<p>Nuestra plataforma brinda diversos servicios online y
						contamos con 24h de soporte técnico para fallos y flexibilidad de
						cambios.</p>
				</div>

				<div class="row">
					<div class="col-xl-3 col-md-6 d-flex align-items-stretch"
						data-aos="zoom-in" data-aos-delay="100">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bx-layer"></i>
							</div>
							<h4>
								Calidad
							</h4>
							<p>Nuestro servicio cuenta con los mejores desarrolladores
								dentro del mercado</p>
						</div>
					</div>

					<div
						class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0"
						data-aos="zoom-in" data-aos-delay="200">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bx-file"></i>
							</div>
							<h4>
								Confianza
							</h4>
							<p>Contamos con más de 10 colegios públicos y privados
								suscritos a nuestro servicio</p>
						</div>
					</div>

					<div
						class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
						data-aos="zoom-in" data-aos-delay="300">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bx-tachometer"></i>
							</div>
							<h4>
								Integridad
							</h4>
							<p>Buscamos automatizar procesos y optimizar utilidades</p>
						</div>
					</div>

					<div
						class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0"
						data-aos="zoom-in" data-aos-delay="400">
						<div class="icon-box">
							<div class="icon">
								<i class="bx bx-layer"></i>
							</div>
							<h4>
								Soporte
							</h4>
							<p>Contamos con un Servicio al Cliente las 24h del día</p>
						</div>
					</div>

				</div>

			</div>
		</section>
		<!-- End Services Section -->
		<!-- ======= Contact Section ======= -->
		<section id="contact" class="contact">
			<div class="container" data-aos="fade-up">

				<div class="section-title">
					<h2>Contáctanos</h2>
					<p>Si te interesa saber más sobre nuestro proyecto y
						contactarnos para implementarlo dentro de tú colegio te invitamos
						a dejarnos tus datos, nos pondremos en contacto lo contigo lo
						antes posible.</p>
				</div>
				<div class="row">
					<div class="col-lg-5 d-flex align-items-stretch">
						<div class="info">
							<div class="address">
								<i class="icofont-google-map"></i>
								<h4>Encuéntranos:</h4>
								<p>Av. La Marina 1541 San Miguel</p>
							</div>

							<div class="email">
								<i class="icofont-envelope"></i>
								<h4>Correo Electrónico:</h4>
								<p>codigouniversitario@upc.edu.pe</p>
							</div>

							<div class="phone">
								<i class="icofont-phone"></i>
								<h4>Teléfono:</h4>
								<p>(+51) 988-847-642</p>
							</div>

							<iframe
								src="https://maps.google.com/maps?q=av.%20la%20marina&t=&z=13&ie=UTF8&iwloc=&output=embed"
								frameborder="0" style="border: 0; width: 100%; height: 290px;"
								allowfullscreen></iframe>
						</div>

					</div>

					<div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
						<form action="forms/contact.php" method="post" role="form"
							class="php-email-form">
							<div class="form-row">
								<div class="form-group col-md-6">
									<label for="name">Nombre</label> <input type="text" name="name"
										class="form-control" id="name" data-rule="minlen:4"
										data-msg="Introduce este campo" />
									<div class="validate"></div>
								</div>
								<div class="form-group col-md-6">
									<label for="name">Correo Electrónico</label> <input
										type="email" class="form-control" name="email" id="email"
										data-rule="email" data-msg="Introduce un email valido" />
									<div class="validate"></div>
								</div>
							</div>
							<div class="form-group">
								<label for="name">Nombre del Colegio</label> <input type="text"
									class="form-control" name="subject" id="subject"
									data-rule="minlen:4" data-msg="Introduce este campo" />
								<div class="validate"></div>
							</div>
							<div class="form-group">
								<label for="name">Mensaje</label>
								<textarea class="form-control" name="message" rows="10"
									data-rule="required" data-msg="Porfavor escribe algo"></textarea>
								<div class="validate"></div>
							</div>
							<div class="mb-3">
								<div class="loading">Cargando</div>
								<div class="error-message"></div>
								<div class="sent-message">Tu mensaje fue enviado
									correctamente. Pronto nos pondremos en contacto</div>
							</div>
							<div class="text-center">
								<button type="submit">Enviar</button>
							</div>
						</form>
					</div>

				</div>

			</div>
		</section>
	</main>
	<!-- End Contact Section -->
	<!-- End Pricing Section -->
	
	<footer th:replace="Layout/FooterLayout :: footer"></footer>


</body>
</html>