<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/FooterLayout :: head">
	<meta charset="utf-8">
</head>
<body>
	<header th:replace="Layout/AlumnoMenuLayout :: header">
	</header>

	<!-- ----------------------------ZONA SEGURA------------------------- -->

	<main id="main">
		<section class="inner-page">
		<!-- - Zona segura -->
		  <div class="container">
		  <br> <br>


			<h1>CALIFICACIONES</h1>
			<!-- ----------------------------ZONA SEGURA------------------------- -->
			</div>
		</section>
	</main>




	<footer th:replace="Layout/FooterLayout :: footer"></footer>
</body>
</html>