<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/FooterLayout :: head">
	<meta charset="utf-8">
</head>
<body>
	<!-- ======= Header ======= -->
	<header th:replace="Layout/AlumnoMenuLayout :: header">
	</header>
	<!-- End Header -->

	<!-- ----------------------------ZONA SEGURA------------------------- -->

	<main id="main">
		<section class="inner-page">
		  <div class="container">
		  <br /> <br />
			<!-- ----------------------------ZONA SEGURA------------------------- -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellidos</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="alumno : ${alumnos}">
						<th th:text="${alumno.id}" scope="row">.</th>
						<td th:text="${alumno.usuario.nombre}"></td>
						<td th:text="${alumno.usuario.apellido}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		</section>
	</main>



	<footer th:replace="Layout/FooterLayout :: footer"></footer>
</body>
</html>