<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/FooterLayout :: head">
<meta charset="utf-8">
</head>
<body>
	<header th:replace="Layout/AlumnoMenuLayout :: header"> </header>


	<main id="main">
		<section class="inner-page">
			<div th:replace="Layout/AlumnoClaseMenuLayout :: submenu"></div>
			
			<div class="container">
				<div class="row informaciongeneral portfolio-container"
					data-aos="fade-up" data-aos-delay="200">
					<div class="col-lg-12 portfolio-item filter-informaciongeneral">
						<div class="box featured" data-aos="fade-up" data-aos-delay="100">
							<h2>Todas mis Tareas:</h2>
							<div class="container" data-aos="fade-up">
								<ul class="d-flex flex-wrap" th:if="${hasTareas}"
									style="display: flex;">
									<li class="col-xl-4 col-md-6 d-flex align-items-stretch"
										data-aos="zoom-in" data-aos-delay="100"
										th:each="tarea : ${tareas}" style="list-style: none;">
										<div>
											<div class="icon-box">
												<div class="icon">
													<i class="bx bx-file"></i>
												</div>
												<h5>
													<a
														th:href="@{'/alumno/cursos/tareas/tarea?id=' + ${tarea.id}}"
														th:text="${tarea.descripcion}"> </a>
												</h5>
												<p>
													<b> Fecha de Entrega: <span
														th:text="${tarea.fechaMaxEntrega}"></span></b> <br> <b>
														Hora Máxima de Entrega: <span th:text="${tarea.hora}"></span>
													</b><br>Recuerde tomar las precausiones antes de iniciar y
													enviar su tarea
												</p>
											</div>
										</div>
									</li>
								</ul>
								<ul>
								</ul>
								<h3 th:unless="${hasTareas}">No hay tareas programadas</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>




	<footer th:replace="Layout/FooterLayout :: footer"></footer>
</body>
</html>
